*{margin:0px;Padding:0px;}
body{background-color:black;}
header{min-height:4.375rem;
            background-color:black;
            color:white;
            border-bottom:pink 3px solid;
            Text-align:center;}
        header h1{padding:1.875rem;
                  Text-align:center;
                  color:white;
                  font-weight:bold;}
        ul,li{display:inline;
        Text-align:center;} 
        header a{text-decoration:none;
                color:white;
                Text-align:center;
                Padding:1rem;}
          .showcase img{max-width:50%;}
       
        
        .showcase{padding:3.125rem;
            color:white;
            background-color:black;
            Text-align:center;}
                
                  
         .try{padding:3.125rem;
            color: white;
            background-color:black;
            Text-align:center; 
            border:2px white solid;}
           .title{color:pink;
             Max-width:100%;
        font-family: 'Brush Script MT',cursive;}
        span{font-family:'Times New Roman',serif    }
        .spa{font-family:serif;}
        
            .hr{border-bottom:pink 50px solid;}
            
           span{color:pink;
                font-family:'Brush Script MT',cursive;}
            
        footer{background-color:brown;
            Text-align:center;
            padding:3.125rem;}
  
